<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmlab.m1">


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE"/>

    <application
        android:name=".mini.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".mini.MiniActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".mini.POIActivity"
            android:label="@string/title_activity_poi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mini.VideoDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_video_demo" />

        <service
            android:name=".mini.network.VideoService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".mini.network.ProxyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".mini.network.CacheService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".mini.AlbumActivity"
            android:label="@string/title_activity_album"
            android:theme="@style/MaterialDrawerTheme.TranslucentStatus" />
        <activity
            android:name=".mini.IntroActivity"
            android:label="@string/title_activity_intro"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".mini.LOIActivity"
            android:label="@string/title_activity_loi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mini.AOIActivity"
            android:label="@string/title_activity_aoi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mini.MapActivity"
            android:label="@string/title_activity_map"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".mini.widget.AboutDialog" />
        <activity
            android:name=".mini.SOIActivity"
            android:label="@string/title_activity_soi" />
        <activity android:name=".mini.GroupMainActivity"></activity>
        <activity
            android:name="com.mmlab.m1.game.GameActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_game"></activity>
    </application>

</manifest>